@fortawesome:registry=https://npm.fontawesome.com
//npm.fontawesome.com/:_authToken=EE1BE544-04EB-4EF9-B4F7-D743D90CAC29
@pderas:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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